body{
    background: #000000;
    color: white;
}
#mainSection{

    /* background: #212121; */
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background: rgba(56, 56, 56, 0.151);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.164);

    display: flex;
    flex-direction: column;
}
#circle1{

    /* background: #8a86e2; */

    background: rgb(138,134,226);
    background: linear-gradient(43deg, rgba(138,134,226,0.9762611275964391) 19%, rgba(0,0,0,0) 100%);    width: 300px;
    height: 600px;
    width: 600px;
    border-radius: 100%;
    display:flex;
    position: fixed;
    margin-top: -300px;
    margin-left: 750px;
}
#circle2{

    /* background: #ec7bc6; */

    background: rgb(236,123,198);
background: linear-gradient(229deg, rgba(236,123,198,1) 19%, rgba(0,0,0,0) 100%);
    width: 600px;
    height: 600px;
    border-radius: 100%;
    display:flex;
    position: fixed;
    margin-left: 100px;
    margin-top: 400px;
}
#circle3{

    /* background: #f59e6c; */

    background: rgb(245,158,108);
    background: linear-gradient(180deg, rgba(245,158,108,1) 21%, rgba(255,227,0,1) 100%);
    width: 100px;
    height: 100px;
    border-radius: 5%;
    display:flex;
    position: fixed;
    margin-left: 320px;
    margin-top: -20px;
}
#circle4{

    /* background: #84cbf3; */

    background: rgb(132,203,243);
    background: linear-gradient(180deg, rgba(132,203,243,1) 21%, rgba(0,121,255,1) 100%);
    width: 90px;
    height: 90px;
    border-radius: 50px 50px 50px 0px;
    display:flex;
    position: fixed;
    margin-left: 850px;
    margin-top: 460px;
    transform: rotate(50deg);
}
h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
label{
    color: white;
}
#btnResult1{
    background: #e84a5f;
}
#btnResult2{
    background: #4ac3e8;
}
#btnResult1, #btnResult2{

    color: white;
    width: 50px;
    height: 50px;
    font-size: 26pt;
    border-radius: 20px;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#btnResult1:hover{

    /* transform: scale(1.1); */
    box-shadow: rgba(255, 0, 0, 0.452) 0px 0px 0px 6px;
}
#btnResult2:hover{
    box-shadow: #4ac3e879 0px 0px 0px 6px;
}
#moveBtnResult{
    background: rgba(255, 255, 0, 0);
    width: auto;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
#inputs{

    background: rgba(255, 0, 0, 0);
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}
#divBtns{

    background: rgba(0, 0, 255, 0.021);
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
}
#divResult{
    background: rgba(128, 0, 128, 0);
    width: auto;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
#result{
    background: rgba(255, 255, 0, 0);
    color: #ffffff;
    width: 100%;
    height: 200px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 16pt;
}
select{
    background: rgb(29, 29, 29);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 16pt;
    font-family: 'Nunito', sans-serif;
    border: none;
    text-decoration: none;
    outline: none;
    padding: 10px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 5px;
}
select:hover{
}
option{
    background: rgb(37, 37, 37);
}
label{
    margin-top: 5px;
    font-family:'Nunito', sans-serif;
    font-size: 16pt;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
    float: right;
    border: 2px solid white;
    border-radius: 5px;

    -webkit-appearance: none;
    appearance: none;

    display: grid;
    place-content: center;

    transition: 0.4s;

}
input[type="checkbox"]:before{

    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(255, 255, 255);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

}
input[type="checkbox"]:checked::before{
    transform: scale(1.4);
}
input[type="checkbox"]:disabled{

    /* cursor: not-allowed; */
    background: rgb(36, 36, 36);
    border: 2px solid rgb(53, 53, 53);
    transition: 0.4s;
}
button{
    margin-left: 15px;
}